name: Deploy to Hugging Face

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Push to Hugging Face Space
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          git config --global user.name "GitHub CI"
          git config --global user.email "ci@github.com"
          git remote add hf https://$HF_TOKEN@huggingface.co/spaces/Mihiraa/lang-tutor
          git push hf main --force
