name: Deploy to Hugging Face

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          
      - name: Push to Hugging Face Space
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          git config --global user.name "GitHub CI"
          git config --global user.email "ci@github.com"
          git remote remove hf || true
          git remote add hf https://huggingface.co/spaces/Mihiraa/lang-tutor

          git push https://Mihiraa:$HF_TOKEN@huggingface.co/spaces/Mihiraa/lang-tutor main --force